/* Header  */
.navbar {
    background-color:transparent;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    transition:all .5s ease-out;
  }
.menu-bars {
    position: fixed;
    top:5px;
    left: 0;
    z-index: 9999;
    margin-left: 2rem;
    font-size: 2rem;
}
.menu-bar-close {
    position: absolute;
    top:5px;
    right: 20px;
    margin-left: 2rem;
    font-size: 2rem;
    transition: all .5s ease-out;
}
.nav-menu {
    width: 250px;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: -100%;
    z-index: 9999; 
} 
.nav-menu.active {
    left: 0;
    transition: all .25s ease-in;
    z-index: 9999;
}
.nav-text {
    display: flex;
    color: white;
    justify-content: flex-start;
    align-items: center;
    padding: 8px;
    list-style: none;
    height: 60px;
} 
.nav-text a {
    text-decoration: none;
    color: #f5f5f5;
    font-size: 18px;
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 16px;
    border-radius: 4px;
}
.nav-text a:hover {
    background-color: #1b2531;
}
.nav-menu-items {
    width: 100%;
    padding: 10px;
    margin: 0;
}

.navbar-toggle {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}
  
span {
    margin-left: 16px;
}
  

/* Toggle */
.t{
    width: 50px;
    height: 25px;
    border-radius: 20px;
    border: 1pz solid #999;
    background-color: white;
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.t-icon{
    width: 15px;
    height: 15px;
}

.t-button{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #999;
    position: absolute;
    cursor: pointer;
}

/* Intro section */
.i {
    display: flex;
    height: 100vh;
  }
  
  .i-left {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .i-right {
    flex: 1;
    position: relative;
  }
  .i-desc{
    margin: 10px 0;
  }
  .i-left-wrapper {
    padding: 50px;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .i-intro {
    font-size: 30px;
    font-weight: 300;
  }
  
  .i-name {
    font-size: 60px;
  }
  
  .i-title {
    height: 50px;
    overflow: hidden;
  }
  
  .i-title-wrapper {
    height: 100%;
    animation: move 10s ease-in-out infinite alternate;
  }
  
  @keyframes move {
    50% {
      transform: translateY(-50px);
    }
    100% {
      transform: translateY(-100px);
    }
  }
  
  .i-title-item {
    height: 50px;
    font-size: 30px;
    font-weight: bold;
    color: #59b256;
    display: flex;
    align-items: center;
  }
  
  .i-scroll {
    width: 30px;
    height: 30px;
    position: absolute;
    bottom: 20px;
  }
  
  .i-img {
    width: 100%;
    display: block;
    margin: 0 auto;
    object-fit: cover;
    position: absolute;
    top:100px;
  }
  
  @media screen and (max-width:992px) {
      .i-right{
        display: none;
      }
  }
  
  @media screen and (max-width: 480px) {
    .i {
      flex-direction: column;
    }
    .i-intro{
      font-size: 20px;
    }
    .i-name{
      font-size: 38px;
    }
    .i-title-item{
      justify-content: center;
    }
  
    .i-left-wrapper {
    
      
      align-items: center;
      justify-content: center;
      text-align: center;
      height: 100%;
    }
  
    .i-desc{
      display: none;
    }
    
  }
  


/* About Section */
.a {
    height: 100vh;
    display: flex;
    align-items: center;
    min-height: 100vh;
  }
  
  .a-left {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100%;
  }
  
  .a-right {
    flex: 1;
  }
  
  .a-card.bg {
    position: absolute;
    top: 50px;
    left: 50px;
    background-color: #333;
  }
  
  .a-card {
    width: 60%;
    height: 70vh;
    border-radius: 30px;
    position: relative;
    overflow: hidden;
  }
  
  .a-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .a-info-img {
    width: 120px;
    height: 120px;
    border-radius: 20px;
  }
  
  .a-title {
    font-weight: 400;
  }
  
  .a-sub {
    margin: 20px 0px;
  }
  
  .a-desc{
      font-weight: 300;
  }
  
  .a-info{
      margin-top: 50px;
      display: flex;
      align-items: center;
      justify-content: space-between;
  }
  .a-info-title{
      font-weight: bold;
      color: #555;
      margin-bottom: 10px;
  }
  .a-info-link{
    text-decoration: none;
    color: inherit;
  }
  
  @media screen and (max-width:480px) {
      .a{
        flex-direction: column;
        text-align: center;
        margin-top: 50px;
      }
  
      .a-left {
        width: 100%;
      }
  
      .a-card {
        height: 30vh;
      }
  
      .a-card.bg, .a-info {
        display: none;
      }
  
      .a-right{
        padding: 20px;
      }
  }

/* all projects */
.pl {
    padding: 50px 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    min-height: 90vh;
  }
  .ph{
    padding: 50px 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    min-height: 70vh;
  }
  
  .pl-texts {
    width: 60%;
  }
  
  .pl-title {
    font-size: 32px;
    font-weight: 600;
  }
  
  .pl-desc {
    margin: 10px 0px;
  }
  
  .pl-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  @media screen and (max-width: 480px) {
    .pl {
      padding: 10px;
    }
  
    .pl-texts {
      width: 100%;
    }
  
    .pl-desc {
      display: none;
    }
    .pl-title{
      font-size: 38px;
    }
}

/* contact section */
.c {
  min-height: 80vh;
  position: relative;
}
.c-bg {
  width: 20px;
  height: 100%;
  background-color: #59b256;
  position: absolute;
}
.c-wrapper {
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.c-left {
  flex: 1;
}
.c-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.c-title {
  font-size: 60px;
  width: 80%;
}
.c-info-item {
  display: flex;
  align-items: center;
  margin: 50px 0px;
  font-weight: 300;
  width: 100%;
  overflow-wrap: anywhere;
}
.c-icon {
  width: 30px;
  height: 30px;
  margin-right: 20px;
}
.c-desc {
  font-weight: 200;
}
form {
  margin-top: 20px;
}
input {
  width: 50%;
  height: 50px;
  border: none;
  border-bottom: 1px solid black;
  margin: 10px 0px;
  font-size: 14px;
  padding-left: 10px;
}
textarea {
  width: 100%;
  margin: 10px 0px;
  font-size: 14px;
  padding-left: 10px;
}
button {
  border: none;
  padding: 15px;
  background-color: #59b256;
  color: white;
  font-weight: 500;
  cursor: pointer;
}

@media screen and (max-width: 480px) {
    .c-wrapper {
    flex-direction: column;
    padding: 0px 50px;
    }
    .c-title {
    font-size: 30px;
    }
    .c-info-item {
    margin: 20px 0px;
    width: 100%;
    }
    .c-desc {
    display: none;
    }
}

form {
    margin-top: 0px;
    display: flex;
    flex-wrap: wrap;
}

input {
    width: 35%;
    height: 40px;
    margin: 10px;
    margin-left: 0;
}

button {
    margin-top: 10px;
  }
/* Single Projects */
.p {
    width: 30%;
    height: 40vh;
    margin: 20px 10px;
    border: 2px solid rgb(196, 195, 195);
    border-radius: 10px 10px 0px 0px;
    overflow: hidden;
}
.p-browser {
    height: 20px;
    background-color: #59b256;
    display: flex;
    align-items: center;
    position: sticky;
    z-index: 2;
} 
.p-circle {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    margin: 3px;
    background-color: white;
}
.p-img {
    width: 100%;
    transition: all 10s ease;
} 
.p:hover .p-img {
    transform: translateY(-100%);
}
.p:hover .p-p{
    display: block;
}
.p-p{
    width: 100%;
    height: 100%;
    display: none;
    z-index: 999;
}
@media screen and (max-width: 480px) {
    .p {
      width: 80%;
      height: 35vh;
      margin: 20px auto;
    }
}

/* filter menu */
.menu-tab-btn{
  margin-left: 12px;
  padding: 10px 20px;
  text-transform: capitalize;
  border:1px solid transparent
}
.active-btn{
  background-color: #1b2531;
  color: white;
  border:1px solid white
}

/* Project details */
.pd {
    width: 70%;
    min-height: 100vh;
    margin: 50px auto 0 ;
    padding-bottom: 20px;
    border-radius: 10px 10px 0px 0px;
    overflow: hidden;
}
.pd-browser {
    height: 30px;display: flex;
    align-items: center;
    position: sticky;
    z-index: 2;
}
.pd-circle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 5px;
    background-color: rgb(196, 195, 195);
    
}
/* .circle-1{
    background-color: green;
}
.circle-2{
    background-color: red;
}
.circle-3{
    background-color: yellow;
}  */
.pd-img {
    width: 60%;
    height: 40vh;
    object-fit: cover;
    object-position: top;
    display: block;
    border-radius: 10px;
    margin: 10px auto;
    text-align: center;
    margin-bottom: 10px;
} 
.swiper-pagination-bullets{
    bottom: -5px;
}
.p:hover .p-img {
    transform: translateY(-100%);
}
.p:hover .p-p{
    display: block;
}
.p-p{
    width: 100%;
    height: 100%;
    display: none;
    z-index: 999;
  
}
@media screen and (max-width:480px)  {
    .pd{
      width: 85%;
    }
    .pd-img{
      width: 100%;
      object-fit: cover;
    }
    .proj-desc{
      font-size: small;
      font-weight: normal;
    }
}
  
/* footer section  */
.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 10px;
    padding: 10px 0;
}
.f-a{
  margin: 0;
  padding: 0;
}